<%- include("./partials/header") -%>

<h1>Home</h1>
<p><%= homeStartingContent %></p>

<% posts.forEach(post => { %>
    <h1 class="title"><%= post.title %></h1>
    <div class="flex">
        <p>
            <%=post.content.substring(0, 100) + " ..."%>
            <a href="/posts/<%=post._id%>">Read More</a>
        </p>
    </div>
    
<% }) %>

<%- include("./partials/footer") -%>